<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRSNrtm-jrvf79MsugO4PSvT41sVm3i_c</string>
	<key>GCM_SENDER_ID</key>
	<string>833282114819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audiopoliMobile</string>
	<key>PROJECT_ID</key>
	<string>audiopoli-6b817</string>
	<key>STORAGE_BUCKET</key>
	<string>audiopoli-6b817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833282114819:ios:a1a4d753a459f10810d536</string>
	<key>DATABASE_URL</key>
	<string>https://audiopoli-6b817-default-rtdb.firebaseio.com</string>
</dict>
</plist>